{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["jsx-a11y", "react"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {}
}
